<%- include('index.ejs') %>

<div class="container d-flex justify-content-center ">
    <div class="card text-white bg-primary " style="max-width: 20rem;">
        <div class="card-header">Perfil</div>
        <div class="card-body">
          <h4 class="card-title"><%= user.email %></h4>
        </div>
      </div>
</div>