<%- include('index.ejs') %>


<div class=" text-center alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oh crap!</strong> <a href="/login" class="alert-link">The email or password is incorrect</a>, please try submitting again.
  </div>
  
  